<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= sui_label :access_denied %></title>	
  <%= stylesheet_link_tag sanction_ui_asset_url('css/sanction_ui.css') -%>
  <%= javascript_include_tag sanction_ui_asset_url('js/sanction_ui.js') -%>
</head>

<body>
	<div class="suiContainer" id="suiAccessDenied">
	<h2><%= sui_label :access_denied %></h2>
	<%- if SanctionUi.describe_on_deny -%>
    <%= render :partial => 'denied_because' %>
		<%- unless @role_definition.purpose.blank? -%>
		  <%= render :partial => 'purpose_of_role' %>
		<%- end -%>
		<%- unless SanctionUi.denied_contact_label.blank? &&
		           SanctionUi.denied_contact_email.blank?
		-%>
		  <%= render :partial => 'if_denied_contact' %>
		<%- end -%>
	<%- else -%>
	  <%= render :partial => "denied_without_because" %>
	<%- end -%>
	</div>
</body>
</html>
