<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= sui_label :access_denied %></title>	
  <%= stylesheet_link_tag sanction_ui_asset_url('css/sanction_ui.css') -%>
  <%= javascript_include_tag sanction_ui_asset_url('js/sanction_ui.js') -%>
</head>

<body>
	<div class="suiContainer" id="suiAccessDenied">
	<h2><%= sui_label :access_denied %></h2>
	<%- if SanctionUi.describe_on_deny -%>
	  <%- if current_principal.nil? -%>
	    <p>Sorry, you were denied access because we're not sure who you are.  If you feel you should have access, please try logging in again.</p>
	  <%- else -%>
			<p>Sorry <%= SanctionUi.eval_name(current_principal) %>, you were denied access because 
			  <%- if @role_definitions.length == 0 -%>
			    there are no roles in the system that match &quot;<%= params[:role_def_or_perm_name] %>&quot;.
			  <%- elsif @role_definitions.length == 1 -%>
				  you do not have the &quot;<%= @role_definitions.first.name.to_s.humanize %>&quot; role/permission.  The purpose of this role is <%= @role_definitions.first.purpose %>.
				<%- else -%>
				  you do not have any of the following roles/permissions:
				  <ul>
					<%- @role_definitions.each do |role_definition| -%>
					  <li>
						  &quot;<%= role_definition.name.to_s.humanize %>&quot;:<%= @role_definition.purpose %></li>
					<%- end -%>
					</ul>
				<%- end -%>
			<%- end -%>
		</p>
		<%- unless SanctionUi.denied_contact_label.blank? &&
		           SanctionUi.denied_contact_email.blank?
		-%>
		  <%= render :partial => 'if_denied_contact' %>
		<%- end -%>
	<%- else -%>
	  <%= render :partial => "denied_without_because" %>
	<%- end -%>
	</div>
</body>
</html>
