<li>
<% if role.principal_valid? -%>
  <%= role.principal.name %>
<% else -%>
  Invalid principal for <%= role.principal_type %>.<%= role.principal_id %>
<% end -%>
<% if role_definition.principals.length > 1 -%>
	(<%= role.principal_type.underscore.humanize %>)
<% end -%>
<%# Don't think this is needed for now %>
<%# if action_allowed?(:can_remove_principal, :role => role) -%>
  <%# link_to labels[:remove_principal], sanction_ui_role_path(role), :method => :delete %>
<%# end -%>
	
<% unless role_definition.global? -%>
	<span><%= labels[:over] -%></span>
	<% if role.permissionable_over_all? -%>
	   all <%= role.permissionable_type.to_s.pluralize -%>
	<% elsif role.permissionable_valid? -%>
		<span><%= role.permissionable.name -%></span>
		<% if role_definition.principals.length > 1 -%>
				<span>(<%= role.permissionable_type.underscore.humanize %>)</span>
		<% end -%>
 	  <% if action_allowed?(:can_remove_role, :role => role) -%>
		  <%= link_to labels[:remove_role], sanction_ui_role_path(role), :method => :delete %>
		<% end -%>
  <% else -%>
    Invalid permissionable for <%= role.permissionable_type %>.<%= role.permissionable_id %>
	<% end -%>	
<% end -%>
</li>
