<div class="suiContainer" id="suiRolesListContainer">
  <%= render :partial => "#{action_name}_header", :locals => {:roles => @roles} -%>
	<ul>
	<% Sanction::Role::Definition.all_roles.each do |role_definition| -%>
	  <li>
		  <span class="suiRoleName"><%= render :partial => "role_definition", :locals => {:role_definition => role_definition} -%></span>
	  
	  <span class="suiRoleOptionsContainer">
      <% if action_allowed?(:can_add_role, :role_definition => role_definition) -%>
  	      <span class="suiRoleOptionLink suiRoleAddLink"><%= link_to sui_label(:can_add_role), new_sanction_ui_role_path(:role_definition => role_definition.name) -%></span>		
	  <% end -%>
		
		<% if action_allowed?(:can_describe_role, :role_definition => role_definition) -%>
	  	      <span class="suiRoleOptionLink suiRoleDescribeLink"><%= link_to sui_label(:can_describe_role), sanction_ui_describe_path(:role_definition => role_definition.name) -%></span>		
		  <% end -%>
		  
		</span>
	    <ul>
	    <%= render :partial => 'role_instance', :collection => role_instances_for_global_role(@roles, role_definition), :as => :role, :locals => {:role_definition => role_definition} %>
	    <%- unless @role_bypasses.blank? -%>
		    <%- unless @role_bypasses[role_definition.name].blank? -%>
		      <%- @role_bypasses[role_definition.name].each do |bypass_hash| -%>
		        <li><%= bypass_hash[:label] %>
			          <%- unless bypass_hash[:count].blank? -%>
			            (showing top <%= bypass_hash[:limit] > bypass_hash[:count] ? bypass_hash[:count] : bypass_hash[:limit] %> of <%= bypass_hash[:count] %> total)
								<%- end -%>
				      <ul>
					      <%- render_collection_template = {
						        :partial => nil, 
						        :collection => bypass_hash[:rows], 
						        :as => :principal, 
						        :locals => {:role_definition => role_definition, 
							                  :bypass_hash => bypass_hash}
							      }  
							  -%>
					      <%- if role_definition.global? -%>
					        <%- render_collection_template[:partial] = 'bypass_global'   -%>
					      <%- else -%>
					        <%- render_collection_template[:partial] = 'bypass_non_global'   -%>
								<%- end -%>
								<%= render render_collection_template %>
					    </ul>
				    </li>
		      <%- end -%>
		    <%- end -%>
	    <%- end -%>
	    </ul>
	  </li>
	<% end -%>
	</ul>
  <%= render :partial => 'index_footer', :locals => {:roles => @roles} -%>
</div>

