<div class="suiContainer">
  <%= render :partial => "header", :locals => {:roles => @roles} -%>
	<ul class="suiRolesList">
	<% Sanction::Role::Definition.all_roles.each do |role_definition| -%>
	  <li>
		  <span><%= render :partial => "role_definition", :locals => {:role_definition => role_definition} %></span>
      <% if action_allowed?(:can_add_role, :role_definition => role_definition) -%>
		  	<% if role_definition.global? -%>
	  	    <span><%= link_to labels[:add_principal_for_global_role], new_sanction_ui_role_path %></span>		
			  <% else -%>
		      <span>TODO:Continue here</span>
			  <% end -%>
	    <% end -%>
		  <ul>
		    <%= render :partial => 'role_instance', :collection => role_instances_for_global_role(@roles, role_definition), :as => :role, :locals => {:role_definition => role_definition} %>
		  </ul>
		</li>
	<% end -%>
	</ul> <%# end of suiRolesList -%>
  <%= render :partial => 'footer', :locals => {:roles => @roles} -%>
</div>

