<%# debug @role_definition  -%>
<%# debug @role  -%>
<%- content_for :page_title do -%>
  <%= sui_label :sanction_ui_title %> : Add &quot;<%= @role_definition.name.to_s.humanize %>&quot;
<%- end -%>
<div class="suiContainer" id="suiAddRole">
<%= render :partial => 'new_header' %>
<% form_for(@role, :url => sanction_ui_roles_path) do |form| %>
  <%= form.error_messages %>
  <%= hidden_field_tag 'role_definition', @role_definition.name %>
  <%- ['principal_type','principal_id'].each do |p| -%>
  <p>
    <%=
    begin
	    render :partial => "new_#{p}", :locals => {:form => form} # OPTIONALLY OVERRIDEN IN APP
	  rescue ActionView::MissingTemplate 
		  render :partial => "new_default_#{p}", :locals => {:form => form}
	  end 
    %>
	</p>
  <%- end -%>
  
  <%- unless @role_definition.global? -%>
	  <% ['permissionable_type','permissionable_id', 'permissionable_all'].each do |p| -%>
	  <p>
	    <%=
		  begin
			  render :partial => "new_#{p}", :locals => {:form => form} # OPTIONALLY OVERRIDEN IN APP
			rescue ActionView::MissingTemplate 
				render :partial => "new_default_#{p}", :locals => {:form => form}
			end 
		  %>
		  </p>
	  <%- end -%>
  <%- end -%>
 <p> <%= form.submit "Add" %></p>
<% end -%>
</div>