<h1>Welcome to Sanction UI: A Permissions Management System</h1>
<p>This page provides a centralized place to manage access control to this application.</p>
<h2>Options</h2>
<ul>
  <li><%= link_to "Describe", sanction_ui_describe_path %>: Describe how the permission system is configured.</li>	
	<li><%= link_to "List People by Role", sanction_ui_roles_path %>: Great for seeing what roles &amp; actions are accessible to people.</li>
	<li><%= link_to "List People Alphabetically", '#' %>: Great for seeing who is able to access the system.</li>
</ul>


<h2>Mocks</h2>
<ul>
	<li><%= link_to "add a role", sanction_ui_asset_path('mocks/add_role.html' )%></li>

	<li><%= link_to "people index", sanction_ui_asset_path('mocks/people_index.html' )%></li>
	<li><%= link_to "roles index", sanction_ui_asset_path('mocks/roles_index.html' )%></li>
</ul>
<ul>